@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .screenheight-nonav {
    height: calc(100vh - 74px);
  }
}

.screenheight-nonav--allsizes {
  height: calc(100vh - 74px);
}

[type='button'],
[type='submit'],
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
